.hover_img a{position:relative;}
.hover_img a span{position:absolute; display:none; z-index=99;}
.hover_img a:hover span{display:block;}
audio{
	position: fixed;
	right: 0;
	top:0;
}
body {
  background-color:black;
  color:#F5CF41;
}
a{
	color:#F5CF41;
}

